<header>
	<h1>Shirt Price Calculator</h1>		
	<h3>Enter Quantity</h3>
	
	<form>
		<input ng-model="$ctrl.quantity" type="number" placeholder="Enter Quantity"/>
	</form>	
	
	<button ng-click="$ctrl.quantity = $ctrl.quantity + 5">+5 Quantity</button>
	
	<form >
		Enter Number of Print Colors :<input ng-model="$ctrl.printColors" type="number" placeholder="Enter # of Colors"/>
	</form>
	
	Base Color
	<select ng-model="$ctrl.baseColor">
		<option>White</option>
		<option>Light</option>
		<option>Dark</option>
	</select>
	Shirt Style
	<select ng-model="$ctrl.shirtStyle">
		<option>Short Sleeve</option>
		<option>Long Sleeve</option>
		<option>Tank Top</option>
	</select>
	<button ng-click="$ctrl.shortSleeve()"> S/S </button>
	<button ng-click="$ctrl.longSleeve()"> L/S </button>
	<button ng-click="$ctrl.tankTop()"> Tank </button>
 </header>

<div>
	<p>Base Cost Array: {{$ctrl.baseCost}} </p>
	<p>Base Color : {{$ctrl.baseColor}} </p>
	<p>Print Colors : {{$ctrl.printColors}} </p>
</div>
<div>
	
	<h2> Total Cost: {{$ctrl.calculate()}} </h2>
	
	<h3> Quantity of Shirts: {{$ctrl.quantity}} </h3>	
	
	<h3> Cost Per Shirt: {{$ctrl.costEa()}} </h3>
	 
 </div>
 
 
 
 